@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

:root {
    --cinzaClarinho: #f4f4f4;
    --cinzaClaro: #999999;
    --cinzaEscuro: #424242;
    --corPrincipal: #FDB92E;
    --corPClaro: #ffcb64;
    --corPEscuro: #b37700;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: var(--cinzaEscuro);
    margin: 0;
    padding: 0;
    margin: 0; 
    padding: 0; 
    height: 100%; /* Garante que o body ocupe a tela inteira */
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.container-header {
    margin-top: 17px;
    margin-bottom: 25px;
    display: flex;
    height: 30px;
    align-items: center;
}
.titulo-adm {
    font-size: 29px;
    color: black;
    font-weight: bold;
    text-align: left;
    display: inline-block;
}
.res-adm {
    font-size: 29px;
    color: var(--corPrincipal);
    font-weight: 500;
    text-align: left;
    display: inline-block;
    margin-left: 5px;
}

.filtros {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-left: auto;
}

/* Estilo do select */
.filtros select {
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #ffffff;
    color: #424242;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.filtros select:hover {
    border-color: #B17A5B;
}

.filtros select:focus {
    outline: none;
    border-color: #B17A5B;
}

/* Estilo do label */
.filtros label {
    font-size: 14px;
    color: var(--cinzaEscuro);
    margin-left: auto; /* Move o label para a extrema direita */
}

.wrapper {
    width: 100vw;
    padding: 8px;
    box-sizing: border-box;
}

/* Botão Novo */
.btn {
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cores específicas */
.btn-novo {
    background-color: var(--cinzaClaro);
}
.btn-novo:hover {
    background-color: var(--cinzaEscuro);
}
.btn-novo:active {
    background-color: var(--corPrincipal);
}

.btn-chamados {
    margin-left: auto;
    background: none;
    border: none; 
    color: inherit;
    padding: 0; 
    cursor: pointer;
    color: #9d9d9d;
    margin-right: 0px;
    margin-bottom: -12px;
    margin-top: -12px;
    font-weight: 500;
    font-size: 13px;
    
}
.btn-chamados:hover {
    color: #6f6f6f;
}

/* Seções */
.chamandoo, .pronto, .proximo {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}

/* Parágrafo */
.p-fila {
    text-align: center;
    font-size: 20px;
    color: #424242;
    margin: 0;
    margin-top: 50px;
    padding-bottom: 10px;
}

ul {
    padding: 0px;
}
/* Itens da Lista */
.fila-adm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px; /* Espaço entre os itens */
    border-radius: 9px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 5px;
    height: 65px;
}

.h2-chamando {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 13pt;
    color: #6f6f6f;
    font-weight: 600;
}

.h2-proximo {
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: -10px;
    color: #6f6f6f;
    font-size: 13pt;
}

/* Campos de Entrada */
.nome-adm, .qntd-adm, .senha-adm {
    width: calc(53% - 20px);
    height: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 17px;
    background-color: #ffffff;
    box-sizing: border-box;
    text-align: center;
}

.senha-status-outro {
    text-align: center;
    font-size: 20px;
    max-width: 40px;
    height: 39px;
    border-radius: 4px;
    margin-left: 0px;
}
.senha-status-3 {
    text-align: center;
    font-size: 20px;
    max-width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-top: 10px;
}
.minutos {
    color: var(--cinzaClaro);
    font-size: 12px;
    margin-top: -11px;
    text-align: center;
}
.div-status {
    margin-left: -3px;
}

.nome-adm {
    margin-left: 0px;
    margin-right: 0px;
}
.qntd-adm {
    max-width: 40px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Botões */
.btn-adm {
    display: flex;
    gap: 3px;
}
.btn-adm div {
    display: flex;
}

.btn-adm button {
    padding: 5px;
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}


.btn-voltar-3{
    color: black;
    background: none;
    border: none;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.btn-voltar-3:hover {
    color: rgb(255, 230, 0);
}

.btn-voltar:hover {
    color: rgb(255, 230, 0);
}
.btn-adm-voltar {
    color: white;
}
.btn-adm-voltar:hover {
    color: rgb(255, 230, 0);
}

.btn-adm-chamar {
    color: black;
}
.btn-adm-chamar:hover {
    color: #57e60a;
}


.btn-adm-del-fila {
    color: black;
}
.btn-adm-del-fila:hover {
    color: #e70a19;
}

.btn-adm-del:hover {
    color: #e70a19;
}

.btn-adm-chamar-fila {
    color: black;
}
.btn-adm-chamar-fila:hover {
    color: rgb(69, 255, 36);
}


.btn-adm-voltar-old {
    color: black;
}
.btn-adm-voltar-old:hover {
    color: rgb(255, 230, 0);
}

.btn-adm-del-old {
    color: black;
}
.btn-adm-del-old:hover {
    color: #e70a19;
}

.btn-adm-chamar-old {
    color: black;
}
.btn-adm-chamar-old:hover {
    color: rgb(69, 255, 36);
}

.btn-toggle-shortcut:hover {
    color: #000000;
}

.sobe-desce {
    display: flex;
    flex-direction: column; /* Alinha os botões verticalmente */
    gap: 0px; /* Espaçamento entre os botões */
    margin-left: -12px;
    margin-right: -8px;
    color: var(--cinzaClaro);
}
.sobe-desce p {
    text-align: center;
    margin: 0px;
    margin-left: 6px;
    margin-top: -12px;
    margin-bottom: -12px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.sobe, .desce {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--cinzaClaro);
    display: flex;
    align-items: center;
}
.sobe span {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 28px;
}
.desce span {
    margin-top: 0px;
    margin-bottom: 0px;

    font-size: 28px;
}
.sobe:hover {
    color: var(--corPrincipal);
}
.desce:hover {
    color: var(--corPrincipal);
}

.status-1 {
    background-color: black;

}
.status-1 button{
    color: var(--corPrincipal);
}
.status-1 button :active {
    filter: brightness(70%);
}
.status-1 p {
    text-align: center;
    margin-right: -3px;
    margin-left: 4px;
    font-size: 18px;
    font-weight: bold;
    color: var(--corPrincipal);
}
.status-1 input {
    background-color: #2c2c2c;
    color: var(--corPrincipal);
    border: none;

}
.status-1 input.senha-status-outro {
    background: none;
}
.status-1 input::placeholder {
    color: #000000;
}


.status-2 {
    background-color: var(--cinzaClaro);
}
.status-2 input.senha-status-outro {
    background-color: var(--cinzaClaro);
}
.status-2 button {
    color: white;
}
.status-2 button :active {
    filter: brightness(70%);
}
.status-2 input {
    background-color: #8c8c8c;
    color: white;
    border: none;
}
.status-2 input.senha-adm {
    background: none;
}
.status-2 input::placeholder {
    color: #727272;
}


.status-3 {
    background-color: white;
}
.status-3 input.senha-status-3 {
    background: none;
    border: none;
}
.status-3 input.senha-status-3:focus {
    outline: none;
    box-shadow: none;
}

.status-3 input {
    background-color: var(--cinzaClarinho);
    color: black;
    border: none;
}
.status-3 button :active {
    filter: brightness(70%);
}
.status-3 input::placeholder {
    color: rgb(207, 207, 207);
}


.ativado {
    background-color: rgb(222, 7, 7);
}
.ativado:hover{
    background-color: rgb(176, 9, 9);
}

.desativado {
    background-color: #43ab0b;
}
.desativado:hover{
    background-color: #36880a;
}
